<mat-toolbar color="primary">
    Login
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<p> {{user | json}} </p>

<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
        <p>
            <mat-form-field>
                <input matInput type="text" placeholder="Username" name="username" #username="ngModel" [(ngModel)]="user.username" required> 
<!-- user is an object here -->
                <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="user.password" required>
                <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
            </mat-form-field>
            <mat-checkbox name="remember" [(ngModel)]="user.remember"> <!-- user is an object here -->
                Remember Me
            </mat-checkbox>
        </p>
    </mat-dialog-content>
    <mat-dialog-actions>
        <span class="flex-spacer"></span>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button type="submit" [disabled]="loginForm.form.invalid">Login</button>
    </mat-dialog-actions>
</form>